<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duquesne Incline</title>
    <meta name="author" content="Vaishnavi Palasamudrum">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Duquesne Incline Web Dev Project">
</head>
<body style="font-family: Arial">
    <header id="webname">
        <h1>Duquesne Incline</h1>
        <img src="../static/Downtown_from_Incline.jpg" alt="Duquesne Incline Banner" class="banner" width="400" height="270">
        <nav>
            <a href="../index.html">Home</a>
            <a href="history.html">History</a>
            <a href="visitor-info.html">Vistor Information</a>
            <a href="gift-shop.html">Gift Shop</a>
            <a href="mailing-list.html">Join the Mailing List!</a></nav>
    </header>
    <body>
        <p>gift shop</p>
    </body>
    <footer>
        © 2025 designed and coded by Vaishnavi Palasamudrum
    </footer>
    
</body>
</html>